################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/Data.Runtime.Sql/v16
/src/Data.Runtime.Sql/bin
/src/Data.Runtime.Sql/.vs/Data.Runtime.Sql/DesignTimeBuild
/src/Data.Runtime.Sql/obj
